<div class="container">
  <div class="table-container"> 
    <div class="table-responsive">
      <!-- Buscador encima de la tabla -->
    <div class="search-container" style="margin-bottom: 10px;">
      <input
        type="text" 
        [(ngModel)]="searchTerm" 
        (ngModelChange)="filtrarBusqueda()" 
        placeholder="Buscar..." 
        class="form-control search-input"
        style="background-color: #fff; border-radius: 25px; border: 1px solid #ccc;"
      />
    </div>
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID MATERIA</th>
            <th scope="col">MATERIA</th>
            <th scope="col">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tipo of filteredHabitaciones">
            <td>{{ tipo.id_materia }}</td>
            <td>{{ tipo.materia }}</td>
            <td>
              <button class="btn btn-primary btn-sm" (click)="editar(tipo)">
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger btn-sm" (click)="eliminar(tipo.id_materia)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Ventana Flotante para Editar -->
<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Editar Materia</h2>
    <form #form="ngForm">
      <div class="form-group">
        <label for="numeroHabitacion">Materia:</label>
        <input
          type="text"
          [(ngModel)]="registroSeleccionado.materia"
          name="numeroHabitacion"
          #numeroHabitacion="ngModel"
          required
        />
        <div *ngIf="numeroHabitacion.invalid && numeroHabitacion.touched">
          <small class="error">Este campo es obligatorio.</small>
        </div>
      </div>
      <button type="submit" class="submit-btn" id="modalSubmitBtn" [disabled]="form.invalid" (click)="guardarCambios(tipo)">
        Guardar Cambios
      </button>
    </form>
  </div>
</div>

