.table-container {
    width: 100%; /* El ancho del contenedor se ajusta al 80% de la pantalla */
    max-width: 1200px; /* Se establece un máximo para que la tabla no sea demasiado ancha */
    margin: 100px auto 0 auto; /* Añade un margen superior de 50px para bajar la tabla */
  }
  
  .table {
    table-layout: auto; /* Permite que las columnas se ajusten automáticamente según el contenido */
  }
  
  thead th {
    text-align: center;
  }
  
  tbody td {
    text-align: center;
  }

  .pdf-download-button {
    margin-bottom: 5px; /* Ajusta el margen para reducir el espacio entre el botón y la tabla */
    text-align: right; /* Opcional: alinea el botón a la derecha dentro de su contenedor */
  }
  
  /* CSS para la ventana modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fondo semi-transparente */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 1000px; /* Ampliado el ancho máximo del modal */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
  width: 100%; /* Asegura que el contenedor ocupa el ancho completo del modal */
}

.form-group label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: calc(100% - 20px); /* Ocupa todo el ancho del contenedor .form-group, menos el padding */
  max-width: 500px; /* Establece un ancho máximo adecuado */
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Asegura que el padding y el borde no afecten el ancho total */
}

.close {
  color: #aaa;
  align-self: flex-end;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#modalSubmitBtn {
  border-radius: 25px;
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  width: 100%;
  cursor: pointer;
}

#modalSubmitBtn:hover {
  background-color: #218838;
} 


